<div>
    <h1 class="text-blue-600 font-bold">Hi there</h1>
</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam delectus eos, nisi quo laborum id, minus magni illo praesentium, assumenda iusto molestias distinctio eligendi ex dolores mollitia. Optio, doloribus placeat?</p>